@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>DSM INDIA | ORGANIZATION INFORMATION</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/Content/Site.css" type="text/css" media="all" />
<link rel="stylesheet" href="/Content/jquery.jcarousel.css" type="text/css" media="all" />
<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
<link rel="shortcut icon" href="/Images/favicon.ico" />
<script type="text/javascript" src="/Scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.jcarousel.pack.js"></script>
<script type="text/javascript" src="/Scripts/func.js"></script>

<link rel="stylesheet" type="text/css" href="/Content/ddsmoothmenu.css" />
<link rel="stylesheet" type="text/css" href="/Content/ddsmoothmenu-v.css" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="/Scripts/ddsmoothmenu.js">

    /***********************************************
    * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
    * This notice MUST stay intact for legal use
    * Visit Dynamic Drive at #/ for full source code
    ***********************************************/

</script>

<script type="text/javascript">

    ddsmoothmenu.init({
        mainmenuid: "smoothmenu1", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        //customtheme: ["#1c5a80", "#18374a"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })

    ddsmoothmenu.init({
        mainmenuid: "smoothmenu2", //Menu DIV id
        orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
        method: 'hover', // set to 'hover' (default) or 'toggle'
        arrowswap: true, // enable rollover effect on menu arrow /Images?
        //customtheme: ["#804000", "#482400"],
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })

</script>
</head>
<body>
<div class="shell">
  <div class="border">
    <div id="header">
      <h1 id="logo"><a href="#" class="notext">DSMINDIA</a></h1>
      <div class="socials right">
        <ul>
          <li><a href="#">Sign In</a></li>
          <li class="last"><a href="#">Register</a></li>
        </ul>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
   
    
          <div id="main">
      <div id="content" class="left">
        <div class="highlight">
         	<br />
		  <h3>Organization Information</h3>
          <form action="#" >
					<table style="font-family: Georgia, 'Times New Roman', Times, serif; font-size:14px; color: #333333; 
					 padding:20px 10px;">
					<tr>
					<td height="70">Organization Id:<br>
					  <input name="text" type="text" id="oid" style="height:20px; width: 650px"  />
					  <br></td>
					</tr>
					
					<tr>
					<td>Organization Created on:<br>
					<input type="text"  id="inputField"  style="height:20px; width: 650px"  ><br></td>
					</tr>
					
					<tr>
					<td>Organization Name:<br><input type="text" name="fname" style="height:20px; width: 650px" ><br></td>
					</tr>
					
					<tr>
					<td>Organization Category: <br><select name="Department"   >
					<option value="Human Resource" style="height:20px; width: 630px" selected>Human Resource</option>
					<option value="Finance" style="height:20px; width: 630px">Finance</option>
					<option value="Sales" style="height:20px; width: 630px" >Sales</option>
					<option value="Operations" style="height:20px; width: 630px" >Operations</option>
					<option value="Purchase" style="height:20px; width: 630px">Purchase</option>
					<option value="Stores" style="height:20px; width: 630px">Stores</option>
					</select></td>
					</tr>
					
					<tr>
					<td>Organization Address ID:<br><input type="text"   address="oaddress" 
					style="height:20px; width: 650px" ><br></td>
					</tr>
					
					<tr>
					<td>Organization Contact ID:<br><input type="text"  contact="ocontact" 
					style="height:20px; width: 650px" ><br></td>
					</tr>
					
					<tr>
					<td>Organization Primary Contact:<br><input type="text"   pcontact="opcontact"
					style="height:20px; width: 650px" ><br></td>
					</tr>
					
					<tr>
					<td>Organization Secondary Contact:<br><input type="text"    scontact="oscontact" 
					style="height:20px; width: 650px" ><br></td>
					</tr>
					
					<tr>
					<td style="padding:10px 0px" ><input type="submit" value="Submit" style="height:30px; width: 60px; font-size:16px; 
					background:#FF3300; color:#FFFFFF"> 
					&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
					 <input type="reset" value="Reset" style="height:30px; width: 60px; font-size:16px; 
					background: #FF3300 ; color:#FFFFFF"><br></td>
					</tr>
					</table>
		  </form>
          </div>
        
      </div>

      <div id="sidebar" class="right">
             
				<div id="smoothmenu2" class="ddsmoothmenu-v">
				 <ul>
				        <li><a href="/ServiceDeskApp/Index">Home</a></li>
				        <li><a href="/ServiceDeskApp/person">Person</a></li>
				        <li><a href="/ServiceDeskApp/organization">Organization</a></li>
				        <li><a href="/ServiceDeskApp/address">Address</a></li>
				        <li><a href="/ServiceDeskApp/contact">Contact</a></li>
				     </ul>
				<br style="clear: left" />
				</div>
            
      </div>
      <div class="cl">&nbsp;</div>
    </div>
    <div class="shadow-l"></div>
    <div class="shadow-r"></div>
    <div class="shadow-b"></div>
  </div>
  <div id="footer">
    <p style="text-align:center">Copyright &copy; 2013, <a href="#">DSM INDIA</a>. All Rights Reserved | Designed By <a href="#">DSMINDIA</a></span></p>
    <div class="cl"></div>
  </div>
</div>
</body>
</html> 
